name: My First Pipeline

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello GitHub Actions"

  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying application"
