name: CI CD Pipeline

on: push

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - run: echo "CI job running"

  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - run: echo "CD job running - Deploying"
